*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family)
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --primary-color: #c1121f;
    --secondary-color: #780000;
    --black-color: #000000;
    --gray-color: #121212;
    --white-color: #fdf6f6;
    --darkblue-color: #003049;
    --blue-color: #669bbc;
    --font-family: 'Space Mono', serif;
}


#homePage{
    background-color: var(--white-color);
}
/* header */
header {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(253, 246, 246, 0.8)), url('/assets/images/header.png') no-repeat center center/cover;
    height: 80vh;
}

/* Menu */
/* Menu général */
.menu {
    position: fixed;
    padding: 10px 20px;
    transition: background 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu:hover {
    background: rgba(0, 0, 0, 0.7);
}

.logoAccueil img {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}

.logoAccueil:hover img {
    transform: scale(1.1);
}

.menuLeft a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
    margin: 0 15px;
    transition: color 0.3s ease;
    position: relative;
}

.menuLeft a:not(.logoAccueil)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; /* Ajuste la position du soulignement */
    width: 100%;
    height: 2px;
    background-color: var(--blue-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.menuLeft a:not(.logoAccueil):hover::after {
    transform: scaleX(1);
}

#active {
    color: var(--blue-color);
    font-weight: bold;
}

#active:hover{
    color: var(--white-color);
}

.menuLeft a:hover {
    color: var(--blue-color);
}



/* Barre de recherche ENCORE DU TAFF DESSUS*/
.searchBar {
    display: flex;
    align-items: center;
    text-align: center ;
    background: #f5f5f5;
    border-radius: 8px;
    padding: 8px 12px;
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: text;

}

.searchInput {
    border: none;
    background: transparent;
    font-size: 1rem;
    color: var(--darkblue-color);
    outline: none;
}

.searchInput::placeholder {
    color: var(--gray-color);
}

.searchBar img {
    width: 25px;
    height: auto;
    vertical-align: middle;
    object-fit: contain;
}

/* Menu à gauche */
.menuLeft {
    display: flex;
    align-items: center;
}

.menuLeft a {
    margin-right: 20px;
}

/* Menu à droite (profil) */
.menuRight {
    position: relative;
}

/* bouton de connexion */

.btnLogin {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.btnLogin:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);

}
/* menu du profil */
.profile {
    position: relative;
    display: inline-block;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.2);
}

.dropdown-menu {
    display: none;
    position: absolute;
    text-align: center;
    align-items: center;
    right: 0;
    background-color: var(--blue-color);
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-menu img {
    width: 100px;
    height: 100px;
}

.dropdown-menu p {
    margin: 0;
    color: var(--white-color);
    font-size: 1rem;
    margin-bottom: 20px;
}

.dropdown-menu a {
    color: var(--white-color);
    padding-bottom: 10px;
    text-align: left;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    position: relative;
}

.dropdown-menu a:not(#logout)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 2px;
    background-color: var(--darkblue-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.dropdown-menu a:hover {
color: var(--darkblue-color);
}

.dropdown-menu a:not(#logout):hover::after {
    transform: scaleX(1);
}

.dropdown-menu #logout {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--white-color);
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    transition: all 0.3s ease;

}

.dropdown-menu #logout:active {
    transform: scale(0.95);
}

.dropdown-menu #logout:hover {
    background-color: var(--secondary-color);
}

.profile:hover .dropdown-menu {
    display: block;
}

.headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--darkblue-color);
}

.headerContent h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0,5rem;
}

.headerContent p {
    font-size: 2rem;
}



/* Ligne de films sortis récemment */
.carousel-container {
    position: relative;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
}

.trending-movies {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px;
    scrollbar-width: none;
}

.trending-movies::-webkit-scrollbar {
    display: none;
}

.movie-card {
    flex: 0 0 auto;
    width: 250px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.movie-card img {
    width: 100%;
    border-radius: 15px;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-poster {
    position: relative;
}

.movie-card h4, .movie-card p {
    margin-top: 10px;
    text-align: left;
}
.catFilmsRecents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.buttonNav{
    display: flex;
    gap: 5px;
}

/* Boutons de navigation */


.next, .prev {
    width: 50px; /* Réduire la taille de l'image à l'intérieur du bouton */
    height: auto;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Informations supplémentaires */
.more-info {
    display: none;
    background: var(--blue-color);
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 1;
}

.toggle-info {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%);
    transform-origin: center;
}

.toggle-info.active {
    transform: translateX(-50%) rotate(180deg);
}



/* CSS des pages de connexion et de profil */
#registerPage,
#loginPage,
#profilePage {
    background-color: var(--blue-color);
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    padding: 5rem;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#registerPage img,
#loginPage img,
#profilePage img {
    width: 5rem;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.formInput input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: var(--white-color);
}

.submitButton {
    width: 100%;
    padding: 0.75rem;
    margin: 1rem 0 2rem 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.submitButton:hover {
    background-color: var(--secondary-color);
}

.submitButton:active {
    transform: scale(0.95);
}

label {
    font-weight: bold;
}

.registerLink {
    position: relative;
    color: var(--blue-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.registerLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.registerLink:hover::after {
    transform: scaleX(1);
}

.registerLink:hover {
    color: var(--primary-color);
}

/* Styles pour le message de déconnexion */
.logout-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: var(--blue-color);
}

.logout-message h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.logout-message p {
    font-size: 1.5rem;
    color: var(--white-color);
}


/* Gestion des messages d'erreurs et de succès */
.errorMessage {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 2rem;
}

.successMessage {
    color: var(--blue-color);
    font-weight: bold;
    margin-bottom: 2rem;
}

.successMessage a {
    color: var(--blue-color);
    text-decoration: none;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.avatarContainer {
    margin-right: 2rem;
}

.avatarContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.userInfo p {
    margin: 0.5rem 0;
    font-size: 1rem;
} 